/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    margin: 20px;
    transition: color 0.3s;
}

/* Default Light Mode Styles */
.light-mode {
    background-color: #a2d2e1;
    color:#23272d;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #23272d;
    color: #5fadc7;
}

/* Stopwatch Styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 90%;
    max-width: 800px;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:rgba(238, 230, 230, 0.2) ; /* Opaque background with 80% opacity */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    transition: background-color 0.3s, color 0.3s;
}


.time {
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.digit {
    display: inline-block;
    width: 60px;
    height: 80px;
    background-color: #7b90e5;
    color: #23272d;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color:#23272d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5164ae;
}

.hidden {
    display: none;
}

/* Laps Section */
.laps {
    margin-top: 20px;
    background-color: rgba(238, 230, 230, 0.2);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(158, 152, 152, 0.2);
}

.lap-time {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Day/Night Mode Switch */
.mode-switch {
    position: absolute;  /* Position it at the top-right corner */
    top: 20px;
    right: 20px;  /* Changed from left to right */
    display: flex;
    align-items: center;
    /* gap: 10px; */

}


.switch-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.mode-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
